.footer {
    background-color: black;
    color: white;
    &__container {
        margin: 0, auto;
        max-width: 1280px;
        padding: 2rem;
    }
    &__title-container {
        display: flex;
    }
    &__icon {
        margin-top: 1em;
        width: 40px;
        height: 18px;
    }
    &__title {
        padding-left: 0.5em;
        font-size: 2em;
    }
    &__phone,
    &__address {
        margin-top: 1rem;
    }
}
