.submit-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__inner {
        position: relative;
        width: 100%;
        max-width: 640px;
        background-color: white;
    }
    &__close-btn {
        position: absolute;
    }
}
